@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Faster+One);

html{
  font-family: 'Faster One', cursive;
  font-size: 1em;
  color: white;
}

body{
  background-image: url('/images/bloodsportring.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-color: brown;
}

h1{
  font-size: 3em;
  text-align: center;
  color: red;
}

li{
  font-family: 'Faster One', cursive;
  font-size: 2em;
  display: block;
  color: white;
  text-align: center;
}

#container{
  max-width: 500px;
  margin: auto;
}

#hero{
  background-image: url('/images/bloodsportcover.jpeg');
  background-size: contain;
}

/*SMALL ONLY*/
@media (max-width: 40em){
  
  body{
    background-color: #4c0000;
  }

  #hero{
    background-color: #faebd7;
    border-style: solid;
    border-width: 2px;
    border-color: #ff4c4c;
    height: 300px;
    margin: auto;
  }

  #super_heroes li{

    background-color: #D2B48C;
    border-style: solid;
    border-width: 2px;
    border-color: #330000;
    height: 40px;
    max-width: auto;
    margin: 15px;
    padding: 15px;
    
  }

}


/*MEDIUM ONLY*/
@media(min-width: 40.063em) and (max-width: 60em){

  #hero{
    height: 200px;
    background-color: #e5e5ff;
    width: inherit;
    border-style: solid;
    border-width: 3px;
    border-color: #b2b2ff;
  }

  ul#super_heroes{
    background-color: #e5e5ff;
    width: inherit;
    margin-top: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #b2b2ff;
    padding: 0;
  }

  #super_heroes li{
    height: 300px;
    margin: 20px;
  }

    #super_heroes li:nth-child(1){
    background-image: url('/images/chong_points.jpg');
    background-size: cover;
  }

  #super_heroes li:nth-child(2){
    background-image: url('/images/bloodsport1.jpg');
    background-size: cover;
  }

  #super_heroes li:nth-child(3){
    background-image: url('/images/bloodsport2.jpeg');
    background-size: cover;
  }

}


/*LARGE ONLY*/
@media(min-width: 60.063em){

  body{
    background-color: #adc3f0;
  }

  #container{
    background-color: #adf0e2;
    border-style: solid;
    border-width: 3px;
    border-color: #1fb797;
  }

  #hero{
    background-color: #d5fbf3;
    height: 300px;
    width: inherit -40px;
    /*margin-top: 20px;*/
  }

  ul#super_heroes{
    background-color: #d5fbf3;
    width: inherit -40px;
    margin-top: 20px;
    padding: 0;
  }

  #super_heroes li{
    height: 300px;
    border-bottom: solid;
    border-width: 1px;
    border-color: grey;
  }

  #super_heroes li:nth-child(1){
    background-image: url('/images/chong_points.jpg');
    background-size: cover;
  }

  #super_heroes li:nth-child(2){
    background-image: url('/images/bloodsport1.jpg');
    background-size: cover;
  }

  #super_heroes li:nth-child(3){
    background-image: url('/images/bloodsport2.jpeg');
    background-size: cover;
  }

}